<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css"></link>
    <link rel="stylesheet" href="/css/bootstrap-grid.css"></link>
    <link rel="stylesheet" href="/css/bootstrap-reboot.css"></link>
    <link rel="stylesheet" href="/css/main.css"></link>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
        <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    </body>
</html>
